{%extends 'app/base.html'%}
{% block content %}
<ul>
    <li><a href="/genre/create">create</a></li>
</ul>
<article>
    {% if content %}
        <h2>{{content.title}}</h2>
        <textarea style="width:100%; height:200px;">{{content.description | safe}}</textarea>
    {% else %}
        <h2>Genre</h2>
        Genre's Home
    {% endif %}
    {% for topic in topics %}
        <div style="width:100%; border:1px solid gray; margin-top:1rem; padding:1rem; box-sizing:border-box">
            <h2 style="border-bottom:1px solid gray;">{{topic.title}}</h2>
            {{topic.description | safe}}
        </div>
    {% endfor %}
</article>
{% endblock %}