{%extends 'app/base.html'%}
{% block content %}
<ul>
    <li><a href="/topic/create">create</a></li>
</ul>
<article>
    {% if content %}
        <div>
            <h2 style="display:inline">{{content.title}}</h2> implements 
            {% for genre in genres %}
                <a href="/genre/{{genre.id}}">{{genre.title}}</a><span class="comma">,</span>
            {% endfor %}
            <script>
                document.querySelectorAll('.comma')[document.querySelectorAll('.comma').length-1].remove()
            </script>
        </div>
        {{content.description | safe}}
        <div>
        </div>
    {% else %}
        <h2>Hello</h2>
        Welcome
    {% endif %}
</article>
{% endblock %}